body {
    font-family: Georgia, serif;
    font-size: large;

    background: rgb(252, 122, 0);
    background: linear-gradient(0deg,  #00000057 0%, rgba(240, 249, 68, 0.982) 100%);

}
.sub {
    letter-spacing: 0.1em;
    font-size: 2.5em;
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
    text-transform: uppercase;
    /* background-color: #e5e5e5 */
}

.sup {
    text-align: center;
    font-size: 1.5em;
    margin: 10px 50px 20px;
    padding: 10px 50px 20px;
    color: rgb(75, 75, 75);

    /* background-color: #e5e5e5 */
}

.image {
    float: inline-start;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 10px 10px 0;
    border: solid 3px rgb(0, 0, 0);
}
.intro,
.about {
    display: block;
    margin: 10px;
    overflow: auto;
}

.list {
    display: grid;
}

.back {
    text-align: center;
    font-size: 1.2em;
    margin: auto;
    padding: 10px 50px 20px;
    display: grid;
    border: solid 1px darkgray;
}